# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Large files (managed by LFS)
models/*.keras
models/*.h5

# Ignored Folders
data/
notebook/
tmp/

# OS
.DS_Store
Thumbs.db